@body-background: #fafafa;

@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@code-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@primary-color: #1890FF;
@success-color: #62b7b3;
@warning-color: #eeaa2a;
@error-color: #d24847;

@line-height-base: 1.5;
@border-radius-base: 4px;

// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
@primary-1: #E6F7FF;

// // Font
// @font-size-sm: 14px;
// @font-size-base: 16px;
// @font-size-lg: 18px;

// horizontal padding for all form controls
@control-padding-horizontal: @padding-md;
@control-padding-horizontal-sm: @padding-sm;

// height rules
@height-sm: 32px;
@height-base: 40px;
@height-lg: 48px;

// z-index list, order by `z-index`
@zindex-picker: 1500;
@zindex-dropdown: 1500;

// Border color
@border-color-base: #d9d9d9; // base border outline a component, [chakra color] gray.200
@border-color-split: #d9d9d9; // [chakra color] gray.200

// Button
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-font-weight: 500;

@btn-default-bg: #f2f2f2;
@btn-default-border: #f2f2f2;

// Input
@input-bg: #f2f2f2;
@input-placeholder-color: #bfbfbf;

// Select
@select-background: @input-bg;

// Picker
@picker-bg: #f2f2f2;

// Switch
@switch-sm-height: 16px;
@switch-height: 24px;
@switch-sm-min-width: 24px;
@switch-min-width: 48px;


